body {
    font-family: Roboto;
    margin: 0;
    color: #000;
    padding: 0;
    box-sizing: border-box;
}

.orange-text {
    color: #ff5c0f;
    font-weight: bold;
}

header {
    background-color: #F2F2F2;
}

h1 {
    text-align: left;
}

.learn-to {
    color: #20a8b4;
}

button {
    color: #fff;
    background-color: #20a8b4;
    border: none;
    border-radius: 10px;
    width: 100%;
    text-align: left;
    padding: 12px;
}

.top-section {
    padding: 12px;
    position: relative;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    width: 100%;
}

nav h1 {
    margin: 0;
    font-size: 2.5rem;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    text-align: left;
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #ff5c0f;
    text-align: right;
}


.white-section {
    padding: 12px;
    position: relative;
    padding-top: 80px;
}

.white-section img {
    max-width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    top: 20px;
    width: 30%;
    display: none;
    padding-right: 60px;
    padding-top: 60px;
}

table td:hover {
    color: #ff5c0f;
}

button:hover {
    background-color: #ff5c0f;
}


@media (min-width: 768px) {
    .top-section {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        align-items: center;

    }

    nav {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: auto;
    }

    .nav-list {
        flex-direction: row;
        text-align: right;
    }

    .top-section h1 {
        margin-right: auto;
    }

    table {
        width: auto;
    }

    button {
        padding: 12px;
        font-size: 1.1rem;
        width: auto;
    }

    .white-section {
        text-align: left;
    }

    .white-section .content {
        text-align: left;
    }

    .white-section img {
        display: block;
    }

}

@media (max-width: 767px) {
    .nav-list {
        display: flex;
        flex-direction: column;
    }
}